In [2]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [3]:
df = pd.read_csv("/home/aecc/2324_IABD/ia2324/7_Streamlit/pets_streamlit/data/pets.csv")

In [4]:
df

   Height  Weight    Eye Species
0    88.9    48.3  Brown     Dog
1    90.2    47.4  Brown     Dog
2    82.7    44.8   Blue     Dog
3    81.4    48.2  Brown     Dog
4    83.5    39.9  Brown     Dog
5    76.4    35.4   Blue     Cat
6    82.3    40.4   Blue     Cat
7    81.1    39.9   Blue     Cat
8    79.9    43.2   Blue     Cat
9    82.4    45.7  Brown     Cat

In [5]:
X = df[["Height", "Weight", "Eye"]]

In [6]:
X

   Height  Weight    Eye
0    88.9    48.3  Brown
1    90.2    47.4  Brown
2    82.7    44.8   Blue
3    81.4    48.2  Brown
4    83.5    39.9  Brown
5    76.4    35.4   Blue
6    82.3    40.4   Blue
7    81.1    39.9   Blue
8    79.9    43.2   Blue
9    82.4    45.7  Brown

In [7]:
X = X.replace(["Brown", "Blue"], [1, 0])

In [8]:
X

   Height  Weight  Eye
0    88.9    48.3    1
1    90.2    47.4    1
2    82.7    44.8    0
3    81.4    48.2    1
4    83.5    39.9    1
5    76.4    35.4    0
6    82.3    40.4    0
7    81.1    39.9    0
8    79.9    43.2    0
9    82.4    45.7    1

In [9]:
y = df['Species']

In [10]:
y

0    Dog
1    Dog
2    Dog
3    Dog
4    Dog
5    Cat
6    Cat
7    Cat
8    Cat
9    Cat
Name: Species, dtype: object

In [11]:
pet_model = LogisticRegression()
pet_model.fit(X, y)

LogisticRegression()

In [12]:
# Vamos a guardar el modelo entrenado
import joblib

In [13]:
joblib.dump(value=pet_model, filename='/home/aecc/2324_IABD/ia2324/7_Streamlit/pets_streamlit/model/pet_model.pkl')

['/home/aecc/2324_IABD/ia2324/7_Streamlit/pets_streamlit/model/pet_model.pkl']